body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.printable {
  display:  none;
}

@media print { 
  .no-print  { display: none;}
  .printable  { display: block;
  /* margin-block-start: 10px; */
    }
  * {
    font-size: 14px;
    /* font-family: Arial, Helvetica, sans-serif; */
    
    }
    #parent-form {
      page-break-before: always;
      margin-top: 0.5cm;
    }
    
    @page {
      margin: 0% !important;
      /* margin-top: 0.1in !important; */
      size: letter;

      
      /* page-break-inside: auto;
      page-break-after: always; */
      width: 21cm;
      height: 29.7cm;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5cm;
      box-shadow: none;
    }
    
}

#root {
  background-color: #282c34;
}

.svg {
  width: 50rem;
  max-width: -webkit-fill-available;
  max-width: stretch;
}
.svg-heading{
  width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: stretch;
}
textarea {
  height: 2.875em !important;
}

input {
  text-transform: uppercase;
}

.cust_list_type li{
  list-style-type: "\203a";
  padding: 0 1em;
}
.cust_list_type li::marker{
  font-size: larger;
  font-weight: 600;
}